<app-sub-header headerContent="Add Items"></app-sub-header>
<div [style.margin]="'2em'" class="flex-row-wrap">
    @for (product of products; track product) {
        <mat-card class="item-card">
            <div>
                {{product.name}}
            </div>
            <div>
                Rs. {{product.price}}/piece
            </div>
            <div>
                Quantity
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="piece">Piece</mat-radio-button>
                    <mat-radio-button value="box">Box</mat-radio-button>
                </mat-radio-group>
                <div>
                    <app-counter-input></app-counter-input>
                </div>
            </div>
            <div>
                <button mat-flat-button color="primary">Add to Cart</button>
            </div>
        </mat-card>
    }
</div>

